name: Test
on: [push, pull_request]
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        node: [18, 20, 22]
        go: [1.23, 1.24]
    env:
      JFROG_CLI_TEST_PASSWORD: ${{ secrets.JFROG_CLI_TEST_PASSWORD }}
      JFROG_CLI_TEST_USER: ${{ secrets.JFROG_CLI_TEST_USER }}
      JFROG_CLI_TEST_URL: ${{ secrets.JFROG_CLI_TEST_URL }}
      JFROG_CLI_TEST_ACCESS_TOKEN: ${{ secrets.JFROG_CLI_TEST_ACCESS_TOKEN }}
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      # Install required tools
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.6
      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          check-latest: true
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      # Run tests
      - name: Tests on macOS, Linux
        run: ./gradlew clean test
        if: runner.os != 'Windows'
      - name: Tests on Windows
        run: ./gradlew.bat clean test
        if: runner.os == 'Windows'